:root {
  /* Color */
  --white-color:#fff;
  --black-color:#140a00;
  --twitter-color:#20a1f1;
  --grey-dark-color:#82929e;
  --grey-light-color:#e6ecf0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url('image/wallpaperForTwittler.jpg');
}

button,
button:focus {
  border: 1px solid var(--twitter-color);
  background-color: var(--white-color);
  font-size: 16px;
  font-weight: bold;
  color: var(--twitter-color);
  cursor: pointer;
  outline: none;
  border-radius: 14px;
}
/* --- Header --- */
header {
  position: relative;
  left: 25%;
  top: 20px;
  width: 50%;
  border-radius: 30px;
  background: linear-gradient(#b3bae9, var(--white-color));
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

header .logo {
  color: var(--twitter-color);
  text-align: center;
}

header .logo i {
  font-size: 40px;
}

header .logo .title {
  font-size: 50px;
}
/* --- User Section --- */
.userSection{
  position: relative;
  top: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 40px;
  background: linear-gradient(#dee6eb, #9198e5);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.userSection .name {
  font-size: var(--font-large);
}

.userSection .nameBlank{
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  font-size: var(--font-medium);
  padding: 10px;
  width: 50%;
  height: 30px;
  max-width: 150px;
  border: none;
  outline: none;
}

.userSection .comment{
  font-size: var(--font-large);
}

.userSection .commentBlank{
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  font-size: var(--font-medium);
  background-color: var(--grey-light-color);
  padding: 10px;
  width: 80%;
  height: 100px;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  position: relative;
  left: 2%;
  top: 5px;
  color: var(--grey-dark-color);
  
  font-size: var(--font-medium);
  font-family: "Source Sans Pro", sans-serif;
}

.userSection .tweetBtn{
  position: relative;
  top: 10px;
  width: 30%;
  height: 30px;
  max-width: 100px;
}

.userSection .tweetBtn:hover {
  background-color: var(--twitter-color);
  color: var(--white-color);
}
/* --- List Section */
.listSection {
  position: relative;
  left: 25%;
  top: 20px;
  width: 50%;
  border-radius: 40px;
  background-color: var(--white-color);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.listSection .check {
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(#9198e5, #645eb8);
  padding-left: 30px;
  height: 100px;
}
.listSection .checkBtn {
  position: relative;
  top: 22%;
  bottom: 3px;
  width: 50%;
  height: 50px;
  max-width: 220px;
  min-width: 150px;
  border-radius: 24px;
}

.listSection .checkBtn:hover {
  background-color: var(--twitter-color);
  color: var(--white-color);
}
/* --- tweet list --- */
.listSection ul.tweets {
  box-sizing: 50%;
  position: relative;
  top: 10px;
  padding-bottom: 10px;
  background-color: var(--white-color);
} 

.listSection li.tweets__box {
  position:relative;
  left: 3%;
  right: 3%;
  width: 95%;
  border-bottom: 1px solid rgba(63, 61, 61, 0.5);
  list-style-type: none;
}

.listSection .tweetsNameAndTime {
  display: flex;
  position: relative;
  padding-left: 3px;
  padding-right: 8px;
  margin-top: 2%;
  justify-content: space-between;
}

.listSection .tweets__name {
  font-weight: bold;
}

.listSection .tweets__name:hover {
  cursor: pointer;
  outline: none;
  color: var(--twitter-color);
}

.listSection .tweets__time {
  position: relative;
}

.listSection .tweets__comment {
  padding-left: 3px;
  margin-top: 1%;
  margin-bottom: 2%;
}

